@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;

@model IPagedList<DSW_JARDINERIA.Models.Producto>;

@{
    ViewData["Title"] = "ProductosPorGama";
   
}

<h1>Productos Por Gama: @ViewData["gamaSeleccionada"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Dimensiones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CantidadEnStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PrecioProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Gama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dimensiones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadEnStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gama)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CodigoProducto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CodigoProducto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CodigoProducto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model
    , nueva_pagina => Url.Action("Index", "Productoes"
    , new { nueva_pagina, buscado = (string)null, busqueda_actual = ViewData["busqueda_actual"], ordenacion = ViewData["ordenacion"] })
    , new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
